<div class="container">

    <h1>Seja bem vindo!</h1>

    <a href="/toughts/registrarPensamentos" class="mt-3 mb-5 btn btn-outline-warning">Criar pensamento</a>


    <h2 class="mb-5">Todos os seus pensamentos</h2>

    <ul>
        {{#each toughts}}
        <li class="mb-3 border-bottom border-warning">
            <div class="d-flex flex-row justify-content-between">
                <span>{{this.title}}</span>
                <span class="d-flex flex-row justify-content-between">
                    <form action="/toughts/remover" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input class="btn btn-warning mr-3" type="submit" value="Excluir">
                    </form>
                    <form action="/toughts/buscarPensamento/{{this.id}}" method="GET">
                        <input class="btn btn-warning mr-3" type="submit" value="Editar">
                    </form>
                </span>
            </div>
        </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
    <p>Ainda não tem pensamentos seu. crie um <a href="/toughts/registrarPensamentos" class="text-warning">Criar pensamento</a></p>
    

    {{/if}}

</div>