*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    
}
input:focus { 
    outline: none !important;
    border-color: #f9d70f;
    box-shadow: 0 0 10px #f9d70f;
}
ul{
    list-style-type: none;
}
